/* ---FONTS---- */
@import url('https://fonts.googleapis.com/css?family=Cardo:400,700|Dancing+Script|Pacifico');
/* @font-face {
  font-family: 'Dancing Script', cursive;
  src: url('https://fonts.googleapis.com/css?family=Dancing+Script');
}

@font-face {
  font-family: 'Abril Fatface', cursive;
  src: url('https://fonts.googleapis.com/css?family=Dancing+Script');
}
 */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

h2 {
  text-align: center;
}

.underline {
  border-bottom: 1px solid black;
  width: 100%;
}

.hide {
  display: none !important;
}

/* ----NAVBAR---- */
.navbar-nav .nav-link {
  text-align: center;
}

.navbar-light .navbar-toggler {
  border-color: azure !important;
}
.fa-reorder {
  color: azure;
}
li a {
  color: white;
  font-family: 'Cardo', serif;
  font-weight: 400;
  padding: 50px;
  font-size: 1.4em;
}
.navbar {
  background-color: rgb(73, 1, 1);
}

.navbar-brand a {
  font-family: 'Dancing Script', cursive;
  color: azure;
  font-size: 2em;
  text-decoration: none;
}

.navbar-brand a:hover {
  text-decoration: none !important;
}

.navbar-brand img {
  width: 10%;
  height: 10%;
}

/* .navbarDiv {
  padding: 0;
  margin: 0;
  background: #dbdbdb;
}

nav {
  margin: auto;
  padding: 0;
  width: 900px;
}

nav ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  letter-spacing: 2px;
  margin: 30px 0;
} */

/* ----HOME PAGE ---- */
.home-jumbo {
  background-image: url(images/home-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  background-attachment: fixed;
}

.display-4 img {
  width: 5%;
  height: 5%;
}

.lead .btn-primary {
  color: #fff;
  background-color: rgb(253, 176, 81);
  border-color: #ffbc68;
}

.lead .btn-primary:hover {
  background-color: rgb(255, 171, 68);
  border-color: #ffbc68;
}
@media screen and (min-width: 768px) {
  .jumbotron {
    height: 500px;
  }
  .container-jumbo {
    position: relative;
    top: 50px;
  }
  /* .card-title {
    position: relative;
    top: 90px;
  } */
}
/* ----CARDS---- */
.card-group {
  margin: 10px;
}
.card-title {
  color: white;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}
.card {
  margin: 10px;
}

/* ---- BOOKING PAGE  ---- */

#BookingWrapper {
  text-align: center;
  width: 300px;
}

#BookingWrapper form {
  display: flex;
  flex-direction: column;
}

#BookingWrapper input {
  margin-bottom: 15px;
  padding: 6px;
}

h1,
h2 {
  text-align: center;
}

.display-4 {
  color: azure;
  font-family: 'Dancing Script', cursive;
}

.lead {
  color: azure;
  text-align: center;
}
.reservation-jumbo {
  background-image: url(images/reservation-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

main {
  margin-top: -35px;
}

@media screen and (min-width: 768px) {
  .reservation-jumbo {
    background-position: center center;
    position: relative;
    z-index: -2;
  }
}

/* ---- CONTACT PAGE  ---- */

#MapWrapper {
  width: 100%;
  height: 300px;
}

#ContactDetailsWrapper {
  padding: 60px 0;
}

#ContactDetailsWrapper p {
  text-align: center;
  margin: 0;
}

#ContactDetailsWrapper img {
  margin-right: 10px;
  height: 20px;
}

/* ---- ADMIN PAGE STYLING ---- */

#AdminWrapper ul {
  font-size: 0.8em;
  padding: 0;
}

#AdminWrapper li {
  display: flex;
  height: 50px;
}

.adminCustomerName,
.adminCustomerPhone,
.adminCustomerEmail,
.bookingDate,
.handleBookingsButtons {
  display: flex;
  align-items: center;
  width: 150px;
  height: 100%;
  padding-left: 10px;
  border-right: 1px solid black;
  box-sizing: border-box;
}

#updateBox {
  display: flex;
  flex-direction: column;
  width: 300px;
}

@media screen and (min-width: 750px) {
  #MapWrapper {
    height: 400px;
  }
  #ContactDetailsLeft,
  #ContactDetailsRight {
    padding: 0 40px;
  }

  #ContactDetailsLeft p {
    text-align: right;
  }

  #ContactDetailsRight p {
    text-align: left;
  }
}

/* FOOTER  */

footer {
  background-color: rgb(73, 1, 1);
  color: white;
  text-align: center;
  margin: 0 auto;
  height: 270px;
  padding: 10px 0 0 0;
  font-size: 1.5em;
  width: 100%;
}

.social-media-icon {
  padding: 20px 10px 10px 10px;
  display: inline-block;
}

.fa {
  color: white;
}

.fa-envelope-o,
.fa-phone,
.fa-map-marker {
  color: black;
  margin: 10px;
}
