.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

h2 {
  text-align: center;
}

.underline {
  border-bottom: 1px solid black;
  width: 100%;
}

.hide {
  display: none;
}

.navbarDiv {
  padding: 0;
  margin: 0;
  background: #dbdbdb;
}

nav {
  margin: auto;
  padding: 0;
  width: 900px;
}

nav ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  letter-spacing: 2px;
  margin: 30px 0;
}
/* ----HOME PAGE STYLING---- */

/* ----CARDS---- */

/* ---- BOOKING PAGE STYLING ---- */

#BookingWrapper {
  text-align: center;
  width: 300px;
}

#BookingWrapper form {
  display: flex;
  flex-direction: column;
}

#BookingWrapper input {
  margin-bottom: 15px;
  padding: 6px;
}

/* ---- CONTACT PAGE STYLING ---- */

#MapWrapper {
  width: 100%;
  height: 300px;
}

#ContactDetailsWrapper {
  padding: 60px 0;
}

#ContactDetailsWrapper p {
  text-align: center;
  margin: 0;
}

#ContactDetailsWrapper img {
  margin-right: 10px;
  height: 20px;
}

/* ---- ADMIN PAGE STYLING ---- */

#AdminWrapper ul {
  font-size: 0.8em;
  padding: 0;
}

#AdminWrapper li {
  display: flex;
  height: 50px;
}

.adminCustomerName {
  display: flex;
  align-items: center;
  width: 150px;
  height: 100%;
  border-right: 1px solid black;
  border-left: 1px solid black;
  box-sizing: border-box;
}

/* FOOTER  */

footer {
  background-color: gray;
  color: white;
  text-align: center;
  margin: 0 auto;
  height: 130px;
  padding: 10px 0 0 0;
  font-size: 1.5em;
  max-width: 100%;
}

@media screen and (min-width: 750px) {
  #MapWrapper {
    height: 400px;
  }
  #ContactDetailsLeft,
  #ContactDetailsRight {
    padding: 0 40px;
  }

  #ContactDetailsLeft p {
    text-align: right;
  }

  #ContactDetailsRight p {
    text-align: left;
  }
}
